.form{
    display : flex;
    justify-content: center;
    border-radius: 50px;
}
.inputField{
    height: 50px;
    outline: none;
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: orange;
    padding : 5px 10px 5px 10px;
}
.subBtn{
    background-color: #ff693dcc;
    width : 200px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}